<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.alviksar.orchidarium">

    <application>
        <receiver android:name=".OrchidWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/orchid_widget_info" />
        </receiver>

        <service
            android:name=".OrchidIntentService"
            android:exported="false"></service>

    </application>

</manifest>